    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Rating</th>
                    <th>Likes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="map in maps" popover="{{map.description}}" popover-trigger="mouseenter">
                    <td>{{map.title}}</td>
                    <td>{{map.author}}</td>
                    <td>{{map.rating}} Stars</td>
                    <td><i class="fa fa-thumbs-o-up"></i> {{map.likes}}</td>
                </tr>
            </tbody>
        </table>    
        
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-info" ng-click="viewmaps()">View All Maps</button>
        </div>            

    </div>
    
